<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<extension
         id="gda.rcp.jythonterminalview"
         name="Jython Con"
         point="org.eclipse.ui.views">
		<category
            id="uk.ac.gda.client.general.category"
            name="Data Acquisition - General">
		</category>
		<view
            category="uk.ac.gda.client.general.category"
            class="gda.rcp.views.OemoveView"
            icon="icons/oe.gif"
            id="uk.ac.gda.client.oemoveview"
            name="OE Move"
            restorable="true">
		</view>
	</extension>
	<extension
               point="org.eclipse.ui.perspectives">
		<perspective
            class="gda.rcp.OEMovePerspective"
            icon="icons/oe.gif"
            id="gda.rcp.OEMovePerspective"
            name="OE Move">
		</perspective>
	</extension>
</plugin>
