<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="uk.ac.gda.client.general.category"
            class="gda.rcp.views.JythonControllerView"
            icon="icons/controller.png"
            id="gda.rcp.jythoncontrollerview"
            name="Jython Controller"
            restorable="true">
      </view>
            <view
            allowMultiple="false"
            category="uk.ac.gda.client.general.category"
            class="gda.rcp.views.JythonControlPanelView"
            icon="icons/controller.png"
            id="gda.rcp.jythoncontrolpanelview"
            name="Jython Script Control"
            restorable="true">
      </view>
            <view
            category="uk.ac.gda.client.general.category"
            class="gda.rcp.views.JythonEditorView"
            icon="icons/page_white_text.png"
            id="gda.rcp.jythoneditorview"
            name="Jython Editor">
      </view>
      
   </extension>

</plugin>
